<div class="modal fade" id="user-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="user-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%# 最初は turbo_frame_tag のみ（空にしておく） %>
      <%= turbo_frame_tag "user-modal-content" do %>
      <% end %>
    </div>
  </div>
</div>
