<%= turbo_frame_tag user do %>
  <div class="card border-none my-2">
    <div class="card-body rounded shadow-sm">
      <div class="d-flex align-items-center">
        <div>
          <%= user.name %>
        </div>
        <div class="ms-3">
          <%= user.email %>
        </div>
        <div class="ms-auto">
          <%# 他の turbo_frame_tag を置き換えたい時は data-turbo-frame を明示する %>
          <%# user-modal-content に対応するモーダルの中身を show.html.erb の turbo_frame_tag と置き換える %>
          <%# 削除ボタンに「現在開いているページ」の情報を渡すためにクエリパラメータを追加 %>
          <%= link_to user_path(user, page: params[:page]), data: { turbo_frame: "user-modal-content" } do %>
            <%# Bootstrap のモーダルを開くボタン %>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#user-modal">
              <i class="bi bi-envelope-paper-fill"></i> <span>詳細</span>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
